:root {
  --background-color: #E9ECE6;
  --color-base-background: #FFFFFF;
  --color-light: #FAFCFF;
  --color-primary: #303D4E;
  --color-inactive: #7C817C;
  --color-transparent-blue: #303D4EB2;
  --color-secondary: #447747;
}