.news {
  position: relative;
  width: 100rem;
  margin-top: 8.125rem;
}

.news__body {
  display: flex;
  gap: 1.25rem;
  margin-top: 3.125rem;
}

.news__annoncement-date {
  font-size: 1.25rem;
  line-height: 150%;
}

.news__annoncement-title {
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}

.news__annoncement-description {
  font-size: 1.25rem;
  line-height: 150%;
}

.news__more-link {
  position: absolute;
  top: -0.3125rem;
  right: 0;
  padding: 1.75rem 2.1875rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--color-secondary) !important;
  background-color: var(--color-base-background);
  border: 0.0625rem solid var(--color-secondary);
  border-radius: 4.375rem;
  text-transform: uppercase;
}

@media (max-width: 100rem) {
  .news {
    width: 100%;
    padding: 0 1.25rem;
  }

  .news__title {
    font-size: 3.125rem;
  }

  .news__annoncement-date, .news__annoncement-description {
    font-size: 1.125rem;
  }

  .news__annoncement-title {
    font-size: 2.25rem;
  }

  .news__more-link {
    font-size: 1rem;
    top: -0.5rem;
    right: 1.25rem;
  }
}

@media (max-width: 62rem) {
  .news {
    margin-top: 4.375rem;
  }

  .news__title {
    font-size: 2.5rem;
  }

  .news__annoncement-date, .news__annoncement-description {
    font-size: 1rem;
  }

  .news__annoncement-title {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    font-size: 1.75rem;
  }

  .news__more-link {
    padding: 1.375rem 1.875rem;
  }
}

@media (max-width: 36rem) {
  .news {
    margin-top: 4.375rem;
  }

  .news__title {
    font-size: 1.5rem;
  }

  .news__body {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.875rem;
  }

  .news__body__annoncement:nth-child(1) {
    padding-bottom: 1.5rem;
    border-bottom: 0.0625rem solid var(--color-inactive);
  }

  .news__annoncement-title {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
  }

  .news__more-link {
    display: block;
    position: unset;
    width: 100%;
    padding: 1.25rem 0;
    margin-top: 1.875rem;
    font-size: 1rem;
    text-align: center;
  }
}